[Desktop Entry]
Name=BM64Recompiled
Type=Application
Terminal=false
Icon=BM64Recompiled
Exec=BM64Recompiled
GenericName=BM64Recompiled
Categories=Game;

