[Desktop Entry]
Name=Starfox64Recompiled
Type=Application
Terminal=false
Icon=Starfox64Recompiled
Exec=Starfox64Recompiled
GenericName=Starfox64Recompiled
Categories=Game;

